/*****Start Default Theme*****/

/* Active Link*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .cog-check
{
    background-color: #b62323ec
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testimonials span,
.footer .copyright span,
.footer h3
{
    color: #b62323ec;
}

.option-box .color-option,
.testimonials .carousel-indicators li.active
{
    border: 3px solid #b62323ec;
}

.dropdown-menu
{
    border-top: 3px solid #b62323ec;
}



/*****End Default Theme*****/